@model huellitas.API.Data.Entities.Billing

@{
    ViewData["Title"] = "BillingDetails";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<h2>Factura</h2>

<div>
    <h4>Detalle Factura</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Pet.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Pet.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Date)
                </dd>
                
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.TotalValue)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.TotalValue)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <img src="@Model.Pet.ImageFullPath" style="width: 200px; height: 200px; max-width: 100%; height: auto;" />
        </div>
    </div>
</div>
<div>
    <a asp-action="AddBillingDetail" asp-route-id="@Model.Id" class="btn btn-primary">Adicionar Servicio</a>
    <a asp-action="BillingPet" asp-route-id="@Model.Pet.Id" class="btn btn-success">Regresar</a>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Detalle Factura</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.BillingDetails.FirstOrDefault().Service.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BillingDetails.FirstOrDefault().ServiceDetail.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BillingDetails.FirstOrDefault().Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BillingDetails.FirstOrDefault().UnitValue)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BillingDetails.FirstOrDefault().ValueSubtotal)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.BillingDetails)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Service.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServiceDetail.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitValue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValueSubtotal)
                                </td>
                                <td>
                                    <a asp-action="EditBillingDetail" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
            // Delete item
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Users/DeletePetDetail/', false);
        });
    </script>
}
